@mixin border-box {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
 
.tabs {
	clear: both;
	float: left;
	position: relative
	width: 100%;

	.tab {
		background: #F0F0F0;
		border: 1px solid #CCC;
		border-right: none;
		display: block;
		float: left;
		font-weight: bold;
		height: 32px;
		line-height: 32px;
		margin-bottom: -1px;
		padding: 0 13px;

		&:last-child { 
			border-right: 1px solid #CCC;
		}

		&.active { 
			background: #FFF; 
			border-bottom: 1px solid #FFF;
		}

	}

}
	
.tab-content-wrapper {

	.tab-content {
		border: 1px solid #CCC;
		box-sizing: border-box;
		clear: both;
		float: left;
		height: auto;
		padding: 20px;
		margin-bottom: 20px;		
		width: 100%;
	}

}